<div class="issue card" style="margin-top: 1rem">
  <div class="card-body">
    <h5 class="card-title">
      <span class="issue-title"><%= @issue.title %></span>
      <span class="issue-state state-<%= @issue.state %>"><%= state(@issue) %></span>
      <span class="float-right">
        <a href="<%= @issue.gitlab_url %>" data-click-to-copy="<%= @issue.gitlab_url %>"><i class="material-icons">link</i></a>
        <a href="<%= @issue.gitlab_url %>" class="issue-link card-link"><i class="material-icons">open_in_browser</i></a>
      </span>
    </h5>
    <h6 class="card-subtitle text-muted">
      <span class="issue-created-at"><%= created_at(@issue) %></span>
      <span class="issue-created-by"><%= author_handle(@issue) %></span>
    </h6>

    <span class="issue-description">
      <%= String.slice(@issue.description, 0, 300) %>
      <%= if String.length(@issue.description) > 300, do: "...", else: "" %>
    </span>
  </div>
</div>
