<form action="/search" method="GET">
  <div class="input-group">
    <input name="q" tabindex="1" type="text" class="form-control" placeholder="Search" value="<%= @query %>">
    <span class="input-group-btn">
      <input class="btn btn-primary" type="submit" value="Search">
    </span>
  </div>
</form>
